.App {
  font-family: sans-serif;
  text-align: center;
}

.button-custom {
  background: #a31af1;
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.text-custom {
  color: #a31af1;
}
